#include "doomver.h"
#include "setup.h"

#ifndef __BORLANDC__
#include <windows.h>
#endif

#ifndef VS_VERSION_INFO
#define VS_VERSION_INFO 1
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

DOOM3D_ICON             ICON    DISCARDABLE     "doom.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Main Dlg
//

MAIN_DLG DIALOG DISCARDABLE 64, 64, 186, 106
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Doom3D Setup"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT			"Scr&een Resolution:", IDC_STATICN(IDC_RESOLUTION), 4, 6, 72, 8
	COMBOBOX		IDC_RESOLUTION, 80, 4, 48, 48, CBS_DROPDOWN|CBS_AUTOHSCROLL|WS_TABSTOP|WS_GROUP|WS_VSCROLL
	AUTOCHECKBOX	"&Fullscreen", IDC_FULLSCREEN, 4, 20, 60, 8, WS_TABSTOP|WS_GROUP
	AUTOCHECKBOX	"1&6-bit Sound", IDC_HISOUND, 68, 20, 60, 8, WS_TABSTOP|WS_GROUP

	LTEXT			"&DLL:", IDC_STATICN(IDC_DLLNAME), 4, 34, 20, 8
	COMBOBOX		IDC_DLLNAME, 24, 32, 50, 40, CBS_DROPDOWNLIST|WS_TABSTOP|WS_GROUP|WS_VSCROLL
	PUSHBUTTON		"&Advanced...", IDC_ADVANCED, 78, 32, 50, 14, WS_TABSTOP|WS_GROUP

	AUTOCHECKBOX	"&Netgame", IDC_NETGAME, 4, 50, 70, 8, WS_TABSTOP|WS_GROUP
	AUTOCHECKBOX	"F&ix Sprites", IDC_FIXSPRITES, 4, 62, 70, 8, WS_TABSTOP
	PUSHBUTTON		"&Controls...", IDC_CONTROLS, 78, 50, 50, 14, WS_TABSTOP|WS_GROUP

	LTEXT			"&Heap Size (MB)", IDC_STATICN(IDC_HEAPSIZE), 4, 76, 44, 8
	EDITTEXT		IDC_HEAPSIZE, 52, 74, 76, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER

	LTEXT			"&Parameters:", IDC_STATICN(IDC_PARAMETERS), 4, 92, 44, 8
	EDITTEXT		IDC_PARAMETERS, 52, 90, 76, 12, WS_TABSTOP|WS_GROUP|ES_AUTOHSCROLL

	DEFPUSHBUTTON	"Save+&Run", IDOK, 132, 4, 50, 14, WS_TABSTOP|WS_GROUP
	PUSHBUTTON		"&Save+Exit", IDC_SAVE, 132, 22, 50, 14, WS_TABSTOP
	PUSHBUTTON		"E&xit", IDCANCEL, 132, 40, 50, 14, WS_TABSTOP
END

/////////////////////////////////////////////////////////////////////////////
//
// Netgame Dlg
//

NETGAME_DLG DIALOG DISCARDABLE 20, 0, 112, 230
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Netgame Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT			"&Player", IDC_STATIC, 4, 6, 28, 8
	EDITTEXT		IDC_PLAYER, 32, 4, 16, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER

	LTEXT			"P&layers", IDC_STATIC, 4, 22, 28, 8
	EDITTEXT		IDC_NUMPLAYERS, 32, 20, 16, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER

	LTEXT			"P&ort", IDC_STATIC, 52, 6, 16, 8
	EDITTEXT		IDC_PORTNUM, 68, 4, 40, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER

	LTEXT			"Node &1", IDC_STATIC, 4, 38, 28, 8
	EDITTEXT		IDC_NODE1, 32, 36, 76, 12, WS_TABSTOP|WS_GROUP|ES_AUTOHSCROLL
	LTEXT			"Node &2", IDC_STATIC, 4, 54, 28, 8
	EDITTEXT		IDC_NODE2, 32, 52, 76, 12, WS_TABSTOP|ES_AUTOHSCROLL
	LTEXT			"Node &3", IDC_STATIC, 4, 70, 28, 8
	EDITTEXT		IDC_NODE3, 32, 68, 76, 12, WS_TABSTOP|ES_AUTOHSCROLL
	LTEXT			"Node &4", IDC_STATIC, 4, 86, 28, 8
	EDITTEXT		IDC_NODE4, 32, 84, 76, 12, WS_TABSTOP|ES_AUTOHSCROLL
	LTEXT			"Node &5", IDC_STATIC, 4, 102, 28, 8
	EDITTEXT		IDC_NODE5, 32, 100, 76, 12, WS_TABSTOP|ES_AUTOHSCROLL
	LTEXT			"Node &6", IDC_STATIC, 4, 118, 28, 8
	EDITTEXT		IDC_NODE6, 32, 116, 76, 12, WS_TABSTOP|ES_AUTOHSCROLL
	LTEXT			"Node &7", IDC_STATIC, 4, 134, 28, 8
	EDITTEXT		IDC_NODE7, 32, 132, 76, 12, WS_TABSTOP|ES_AUTOHSCROLL

	AUTOCHECKBOX	"&Drone", IDC_DRONE, 4, 148, 50, 8, WS_TABSTOP|WS_GROUP
	AUTOCHECKBOX	"&Back", IDC_BACK, 58, 148, 50, 8, WS_TABSTOP
	AUTOCHECKBOX	"&Left", IDC_LEFT, 4, 160, 50, 8, WS_TABSTOP
	AUTOCHECKBOX	"&Right", IDC_RIGHT, 58, 160, 50, 8, WS_TABSTOP

	AUTORADIOBUTTON	"&Co-operative", IDC_COOP, 4, 172, 54, 8, WS_TABSTOP|WS_GROUP
	AUTORADIOBUTTON	"&Deathmatch", IDC_DEATHMATCH, 58, 172, 54, 8
	AUTORADIOBUTTON	"&Deathmatch 2", IDC_DEATH2, 4, 184, 58, 8

	LTEXT			"&Local Players", IDC_STATIC, 4, 198, 52, 8
	EDITTEXT		IDC_SPLITSCREEN, 56, 196, 52, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER

	DEFPUSHBUTTON	"OK", IDOK, 4, 212, 50, 14, WS_TABSTOP|WS_GROUP
	PUSHBUTTON		"Cancel", IDCANCEL, 58, 212, 50, 14, WS_TABSTOP
END

/////////////////////////////////////////////////////////////////////////////
//
// Controls Dlg
//

CONTROLS_DLG DIALOG DISCARDABLE 20, 0, 112, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Controls"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT			"&Mouse Player", IDC_STATIC, 4, 6, 68, 8
	EDITTEXT		IDC_MOUSE, 72, 4, 36, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER
	LTEXT			"&DualMouse Player", IDC_STATIC, 4, 22, 68, 8
	EDITTEXT		IDC_MOUSE2, 72, 20, 36, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER
	LTEXT			"DualMouse on &Com", IDC_STATIC, 4, 38, 68, 8
	EDITTEXT		IDC_MOUSECOM, 72, 36, 36, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER
	LTEXT			"&Joystick Player", IDC_STATIC, 4, 54, 68, 8
	EDITTEXT		IDC_JOYSTICK, 72, 52, 36, 12, WS_TABSTOP|WS_GROUP|ES_NUMBER
	AUTOCHECKBOX	"&Analogue Joystick", IDC_ANALOGUEJOY, 4, 66, 104, 8, WS_TABSTOP|WS_GROUP

	DEFPUSHBUTTON	"OK", IDOK, 4, 78, 50, 14 , WS_TABSTOP|WS_GROUP
	PUSHBUTTON		"Cancel", IDCANCEL, 58, 78, 50, 14, WS_TABSTOP
END

/////////////////////////////////////////////////////////////////////////////
//
// 3D Device Selection Dlg
//

SELECTDEVICE_DLG DIALOG DISCARDABLE 20, 0, 264, 102
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "3D Device Selection"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT			"Select &Device:", IDC_STATIC, 4, 4, 56, 8
	LISTBOX			IDC_DEVICELIST, 4, 16, 256, 70, WS_TABSTOP|WS_GROUP|WS_BORDER
	DEFPUSHBUTTON	"OK", IDOK, 76, 84, 52, 14 , WS_TABSTOP|WS_GROUP
	PUSHBUTTON		"Cancel", IDCANCEL, 130, 84, 52, 14, WS_TABSTOP
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DOOM_MAJOR_VERSION,DOOM_SUBVERSION,0,0
 PRODUCTVERSION DOOM_MAJOR_VERSION,DOOM_SUBVERSION,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
//            VALUE "Comments", "\0"
            VALUE "CompanyName", "FudgeFactor Software\0"
            VALUE "FileDescription", "doom3d setup\0"
            VALUE "FileVersion", DOOM_VERSION_TEXT"\0"
            VALUE "InternalName", "doom3dsetup\0"
            VALUE "LegalCopyright", "Copyright © 2000 FudgeFactor Software\0"
//            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "doom3dsetup.exe\0"
//            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Doom3D\0"
            VALUE "ProductVersion", DOOM_VERSION_TEXT"\0"
//            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
